@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap");
header {
  width: 100vw;
}

nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.btn_menu {
  cursor: pointer;
  margin: 1%;
  transition: 0.6s linear;
  width: 2em;
  top: 0%;
  z-index: 2000;
}
@media (min-width: 319px) and (max-width: 767px) {
  .btn_menu {
    margin: 5%;
  }
}
@media (min-width: 1023px) {
  .btn_menu {
    display: none;
  }
}

.line-1,
.line-2,
.line-3 {
  width: 3em;
  height: 0.4em;
  margin: 10% 0;
  transition: 0.4s;
  transform-origin: 0px 100%;
  width: 100%;
  background-color: black;
}

.active_line-1 {
  transform: rotate(45deg) translate(-4px, -1px);
  background-color: #000;
}
@media (min-width: 319px) and (max-width: 767px) {
  .active_line-1 {
    transform: rotate(45deg) translate(-5px, -1px);
    background-color: #000;
  }
}

.active_line-2 {
  opacity: 0;
  margin-left: 100px;
}

.active_line-3 {
  transform: rotate(-45deg) translate(2px, 1px);
  background-color: #000;
}
@media (min-width: 319px) and (max-width: 767px) {
  .active_line-3 {
    transform: rotate(-45deg) translate(3px, 1px);
    background-color: #000;
  }
}

.nav_menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  margin: 0;
  background-color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s ease-in;
  z-index: 1000;
}
@media (min-width: 1023px) {
  .nav_menu {
    position: static;
    top: 0;
    height: 4em;
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media (min-width: 1023px) {
  .nav_menu li {
    margin-right: 5%;
  }
}

.active_nav {
  top: 0;
}

.nav_menu a {
  text-decoration: none;
  font-size: 200%;
  color: #000;
}
@media (min-width: 1023px) {
  .nav_menu a {
    font-size: 100%;
  }
}

.logo {
  width: 35%;
  margin-top: -7%;
  margin-left: -5%;
}
@media (min-width: 767px) {
  .logo {
    width: 25%;
  }
}
@media (min-width: 1023px) {
  .logo {
    margin: -2%;
    width: 10%;
  }
}
.logo img {
  width: 100%;
}

.actual {
  color: #f46f4c !important;
}

main {
  width: 100vw;
}

.contenedor__portada {
  width: 100%;
  z-index: 100;
}
@media (min-width: 767px) {
  .contenedor__portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
    grid-gap: 10% 2%;
  }
}
.contenedor__portada .top {
  width: 100%;
  height: 15em;
  background-image: url(./img/portada_mobile.jpg);
  background-size: cover;
}
@media (min-width: 767px) {
  .contenedor__portada .top {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 25em;
  }
}
@media (min-width: 1023px) {
  .contenedor__portada .top {
    background-image: url(./img/portada_desktop.jpg);
    height: 35em;
  }
}
.contenedor__portada button {
  background-color: #f46f4c;
  color: #fff;
  width: 35%;
  height: 3em;
  border: none;
  margin: 5%;
  font-weight: 500;
  cursor: pointer;
}
.contenedor__portada button:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}
.contenedor__portada button a {
  color: #fff;
  text-decoration: none;
}
.contenedor__portada figure {
  width: 100%;
}
@media (min-width: 767px) {
  .contenedor__portada figure {
    width: 75%;
    margin: auto;
  }
}
.contenedor__portada figure img {
  width: 100%;
}

.texto__portada {
  width: 100%;
  margin-top: 10%;
}
@media (min-width: 767px) {
  .texto__portada {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
.texto__portada h2 {
  width: 50%;
  font-weight: bold;
  font-size: 25px;
  margin-left: 5%;
}
.texto__portada p {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  font-weight: 400;
  text-align: left;
}

.bottom {
  height: 400px;
  margin-top: 5%;
  background-image: url(./img/portada_mobile2.jpg);
  background-size: cover;
}
@media (min-width: 767px) {
  .bottom {
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
@media (min-width: 1023px) {
  .bottom {
    height: 35em;
  }
}
.bottom img {
  height: 100%;
}

.galeria {
  width: 100vw;
  margin-top: 10%;
}
@media (min-width: 767px) {
  .galeria {
    margin-top: 40%;
  }
}
@media (min-width: 1023px) {
  .galeria {
    margin-top: 20%;
  }
}

.contenedor__galeria {
  width: 100%;
}
@media (min-width: 1023px) {
  .contenedor__galeria {
    display: flex;
    width: 90%;
    margin: auto;
  }
}
.contenedor__galeria .img__galeria {
  width: 100%;
  margin-top: 15%;
}
@media (min-width: 767px) {
  .contenedor__galeria .img__galeria {
    display: flex;
    margin-top: 5%;
  }
}
@media (min-width: 1023px) {
  .contenedor__galeria .img__galeria {
    flex-direction: column;
  }
}
.contenedor__galeria .img__galeria img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
@media (min-width: 767px) {
  .contenedor__galeria .img__galeria img {
    width: 50%;
  }
}
@media (min-width: 1023px) {
  .contenedor__galeria .img__galeria img {
    width: 98%;
  }
}
.contenedor__galeria .img__galeria h4 {
  font-weight: 400;
  font-size: 15px;
  margin-left: 5%;
}
@media (min-width: 767px) {
  .contenedor__galeria .img__galeria h4 {
    text-align: center;
    margin-top: 15%;
    font-size: 20px;
  }
}
@media (min-width: 1023px) {
  .contenedor__galeria .img__galeria h4 {
    margin-left: 0;
    margin-top: 5%;
  }
}

.trabajos {
  margin-top: 25%;
  width: 100vw;
}
.trabajos h2 {
  text-align: center;
}
@media (min-width: 1023px) {
  .trabajos {
    display: flex;
    justify-content: space-around;
  }
}

.contenedor__trabajos {
  width: 100%;
  margin-top: 10%;
}
@media (min-width: 1023px) {
  .contenedor__trabajos {
    width: 30%;
    margin-top: 0;
    border: solid 1px #3a3939;
  }
}
.contenedor__trabajos .titulo__trabajo {
  font-weight: 600;
  font-size: 20px;
  margin-left: 1%;
  margin-bottom: 5%;
}
@media (min-width: 1023px) {
  .contenedor__trabajos .titulo__trabajo {
    text-align: center;
    margin-left: 0;
  }
}
.contenedor__trabajos figure {
  width: 100%;
}
.contenedor__trabajos figure img {
  width: 100%;
}
@media (min-width: 1023px) {
  .contenedor__trabajos figure img {
    height: 15em;
  }
}
.contenedor__trabajos .texto__trabajo {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2%;
  text-align: center;
  color: #000;
}
@media (min-width: 1023px) {
  .contenedor__trabajos .texto__trabajo {
    text-align: center;
    margin-top: 5%;
  }
}
.contenedor__trabajos h3 {
  text-align: center;
}
@media (min-width: 1023px) {
  .contenedor__trabajos h3 {
    margin-left: 5%;
  }
}

.contenedor__mg {
  height: 2em;
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
}
.contenedor__mg p {
  margin-right: 5%;
}
.contenedor__mg i {
  color: red;
  cursor: pointer;
  margin-top: 1%;
}
.contenedor__mg i:active {
  color: #db6c6c;
  font-size: 120%;
  margin-top: 0;
}
@media (min-width: 1023px) {
  .contenedor__mg {
    margin-top: 5%;
    justify-content: flex-end;
  }
}

.separador {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border: solid 0.5px #3a3939;
}
@media (min-width: 1023px) {
  .separador {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

footer {
  border-top: solid 1.5px #000;
  margin-top: 10%;
  width: 100vw;
}
footer ul {
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
@media (min-width: 1023px) {
  footer ul {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 15px;
}/*# sourceMappingURL=index.css.map */