@import variables


main
    width: 100vw

.contenedor__portada
    width: 100%
    button
        background-color: $color-principal
        color: #fff
        width: 35%
        height: 3em
        border: none
        margin: 5%
        font-weight: 500
    figure
        width: 100%
        img
            width: 100%

.texto__portada
    width: 100%
    margin-top: 10%
    h2
        width: 50%
        font-weight: bold
        font-size: 25px
        margin-left: 5%
    p
        width: 90%
        margin: auto
        margin-top: 5%
        font-weight: 400
        text-align: left

.bottom
    height: 400px
    margin-top: 5%
    img
        height: 100%