.trabajos
    margin-top: 25%
    width: 100vw

.contenedor__trabajos
    width: 100%
    margin-top: 10%
    .titulo__trabajo
        font-weight: 600
        font-size: 20px
        margin-left: 1%
        margin-bottom: 5%
    figure
        width: 100%
        img
            width: 100%
    .texto__trabajo
        width: 100%
        font-weight: 400
        font-size: 15px
        margin-top: 2%
        text-decoration: none
        color: #000